.card-header{
  /* background-color:	#b0a0cc; */
  background-color: #b0d7e4;
  color: #0c0c3d;
}

.title{
  color: #0c0c3d;
  text-align: center;
  font-size: 30px;
  min-height: 50px;
  padding-top: 6px;
}

label {
  font-size: 15px;
  color: #0c0c3d;
}

.card-body{
  /* background-color: #e6ddf7; */
  background-color: #F0FFFF;
}

.card{
  margin-left: 100px;
  max-width: 600px;
}

.btn{
  margin-right: 10px;
  background-color: #00688B;
}

.text-danger{
  font-size: 80%;
}
