form div.input-field input{
  padding-left: 15px !important;
  color: #02082c;
}

input.ng-invalid.ng-dirty{
  border-bottom-color : #ad0606 !important;
  box-shadow: 0 1px 0 0 #ad0606 !important;
}

.input-field>label{
  font-size: 1.2rem;
  font-weight: bold;
  color: #02082c;
}


.btn-danger{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  margin-left: 30px;
}

.success{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

a.action-btn{
  color: #02082c;
  margin: 0px 5px;

}
a.action-btn:hover{
  cursor: pointer;
  color: #dad2d2;
}

div.card{
  background-color: #79CDCD;
  color:#02082c;
  width: 95%;
  /* margin: 10px 10px; */
  margin-top: 20px;
  margin-left: 30px;
}

.tbl-head{
  font-size: 30px;
}

.ipForm{
  max-width: 30%;
  color:#02082c;
}


.dispForm{
  font-size: 20px;
  /* max-height: 800px; */
  /* margin-bottom: 50px; */
}

.vl {
  border-left: 6px solid #5c9c9c;
  height: 600px;
}
